body{
    background-color: antiquewhite;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');





*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: "Ubuntu", sans-serif;
}

nav ul{
    display:flex;
    align-items: center;
    list-style-type:none;
    height: 65px;
    
    background-color: black;
    color:white;
}

nav ul li{
    padding:0 12px;
}



.brand img{
    width:44px;
    padding:0 8px;
}

.brand{
    display: flex;
    align-items:center;
    font-weight:bolder;
    font-size:1.3rem;
}

.container{
    min-height:60vh;
    background-color: black;
    color:white;
    font-family: "Varela Round", sans-serif;
    display:flex;
    margin:15px auto;
    width:70%;
    border-radius:12px;
    padding: 35px;
    background-image: url('bg.png');
    background-size: cover;
    

    
}

.bottom{
    position:sticky;
    height:130px;
    background-color: black;
    color:white;
    bottom:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.icons i{
    font-size: 30px;
    margin-top: 14px;
    
    cursor: pointer; 
}

#myProgressBar{
    width:80vw;
    text-align:center;
    cursor:pointer;
}

.songItemContainer{
    margin-top: 28px;
}

.songItem{
    height: 30px;
    display:flex;
    background-color: white;
    color:black;
    width:90%;
    margin:10px 0;
    border-radius: 34px;
    justify-content:space-between;
    align-items: center;
    
    
}

.songItem img{
    height:30px;
    
    margin: 0 20px;
    border-radius: 34px;
}

.timestamp{
    margin:0 23px;
}

.timestamp i{
    cursor:pointer;
}

.songName{
    font-size: 75%;
    font-weight:520;
}

.songInfo{
    position:absolute;
    left:10vw;
    font-size:0.8rem;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Varela Round", sans-serif;
    
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

